<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>detail page</h1>
    <h2>제목 : {{one_blog.title}}</h2>
    <h2>내용 : {{one_blog.desc}}</h2>
    <h2>문의처 : {{one_blog.contact}}</h2>
    <h2>작성일 : {{one_blog.created_at}}</h2>
    <a href="{% url 'edit' one_blog.id %}">EDIT</a>
    <a href="{% url 'delete' one_blog.id %}">DELETE</a>
    <br>
    <a href="{% url 'index' %}">HOME</a>
</body>
</html>