<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>main page</title>
</head>
<body>
    <h1>###게시판###</h1>
    
    <h2>글쓰기</h2>
    <form method="post" action="{% url 'create' %}">
        <input type="text" name="title" placeholder="제목 입력">
        <input type="text" name="nickname" placeholder="닉네임 입력">
        <textarea name="body" placeholder="내용 입력"></textarea>
        <input type="submit">
    </form>
    {% for one_post in display_post %}
    <h1> [ {{ one_post.id }} ]번째 글입니다.</h1>
    <h3> 제목 : {{ one_post.title }} - {{ one_post.nickname }}</h3>
    <p >내용 : {{ one_post.body}}</p>
    {%endfor%}
    
</body>
</html>